<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLDehURsQCp-suBkLKGhsuayThNgdqfHo</string>
	<key>GCM_SENDER_ID</key>
	<string>124250490339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projects</string>
	<key>PROJECT_ID</key>
	<string>mechanic-online-3683a</string>
	<key>STORAGE_BUCKET</key>
	<string>mechanic-online-3683a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124250490339:ios:124126ab30cb21d0070cd6</string>
</dict>
</plist>